body{
    background-color: rgb(38, 11, 11);
}

h1{
    color: #ff7c7c;
    font-family: "copperlate", fantasy;
    text-align: center;
}

p{
 color: #ffab8c;
 font-family: Athelas;
    text-align: center;
}

h2{
    color: coral;
    font-family: "American Typewriter";
    text-align: center;
}
a{
    color: aquamarine;
    font-family: Athelas
}

/** pls no orange an black